<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<body>

<h1>Playlist</h1>

<a href="{{url_for('newPlaylist')}}" > <h3> Create a New Playlist </h3> </a>

{% for playlist in playlists %}

<div>

<a href = "{{url_for('showPlaylistSong',playlist_id = playlist.id)}}"> <p>{{playlist.name}}</p></a>

<p><a href = "{{url_for('editPlaylist',playlist_id = playlist.id)}}">Edit Playlist</a></p>

<p> <a href = "{{url_for('ddeletePlaylist',playlist_id = playlist.id)}}">Delete Playlist</a> </p>

<p> {{i.time}} </p>

</div>


{% endfor %}
</body>

</html>